@import url('https://fonts.googleapis.com/css2? family= Allura & family= Dancing+Script:wght@500 & family= Josefin+Sans:wght@200;300 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background:#717171!important;
    font-family:'Pangolin',sans-serif !important;
}
.warpper{
    display: flex;
    position: relative;
}
.warpper .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background:#4b4276 ;
    padding: 30px 0;


}
.warpper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}
.warpper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    border-top: 1px solid rgba(225,225,225,0.5);
}
.warpper .sidebar ul li a{
    color: #bdb8d7;
    display: block;
}
.warpper .sidebar ul li i{
    margin: 15px;
}
.fa{
width: 25px;
}
.warpper .sidebar ul li:hover{
background: #594f8d;
}
.warpper .sidebar ul li:hover a{
color: #fff;
}
.warpper .sidebar .social_media{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
.warpper .sidebar .social_media a{
    display: block;
    width: 40px;
    background: #594f8d;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 5px;
    color: #bdb8d7;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
.warpper .main_content{
    width: 100%;
    margin-left: 200px;

}
.warpper .main_content .header{
    padding: 20px;
    background: #fff;
    color: #717171;
    border-bottom: 1px solid #e0e4e8;
}
.warpper .main_content .info{
    margin: 10px;
    color: #717171;
    line-height: 25px;
}
.warpper .main_content .info div{
    margin-bottom: 20px;
}
.wrapper{
  display: flex;
  flex-direction: column;
    margin-top: 2%;
   flex-wrap: wrap;
}
.wrapper h1{
    font-family: 'Allura', cursive;
    font-size: 52px;
    margin-bottom: 60px;
    text-align: center;
    color: #ccc;
}
h1 {
  font-family:'Pangolin',sans-serif !important;
  font-size: 55px !important;
}

header {
  background:#27363f;
  width:100%;
  padding:40px 0;
  color:white;
  text-align:center;
}

a {
  text-decoration:none;
  color:inherit;
}

nav ul {
  background-color:#446274;
  overflow:hidden;
  color:white;
  padding:0;
  margin:0;
  text-align:center;
  -webkit-transition:max-height 0.4s;
  -ms-transition:max-height 0.4s;
  -moz-transition:max-height 0.4s;
  -o-transition:max-height 0.4s;
  transition:max-height 0.4s;
}

nav ul li {
  display:inline-block;
  padding:20px;
  gap: 1em;
}

nav ul li:hover {
  background-color:#718e9e;
}

section {
  line-height: 1.5em;
  font-size:0.9em;
  padding:40px;
  width:75%;
  margin:0 auto;
}

  .handle {
    width:100%;
    background: #446274;
    text-align:left;
    box-sizing:border-box;
    padding:15px 10px;
    cursor:pointer;
    color:white;
    display:none;
  }

@media screen and (max-width:580px){
  
  nav ul {
    max-height:0;
  }
  
  .showing {
    max-height:20em;
  }
  nav ul li {
    width:100%;
    box-sizing:border-box;
    padding:15px;
    text-align:left;
  }
   
  .handle {
    display:block;
  }
  

}

.team{
    display: flex;
    align-items: center;
    width: auto;
    justify-content: center;
    flex-wrap: wrap;
}
.team .team-member{
background: #fff;
margin: 5px;
margin-bottom: 50px;
width: 300px;
padding: 20px;
line-height: 20px;
color: #8e8b8b;
position: relative;
}
.team .team-member h3{
    color: #8e8b8b;
    font-size: 26px;
    margin-top: 50px;
}
.team .team-member p.role{
    color: #ccc;
    font-size: 12px;
    text-transform: uppercase;
    margin: 12px 0;
}
.team .team-member .team_img{
width: 100px;
height: 100px;
border-radius: 50% !important;
position: absolute;
top: -50px;
left: 50%;
transform: translateX(-50%);
background: #fff;
}
.team .team-member .team_img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px;
}
/*maps*/
/*.map{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    width: 650px;
    height: 450px;
}
.map img{
display: flex;
justify-content: center;
align-items: center;
}*/
/*graphique*/

@keyframes progress {
    0% {
    stroke-dasharray: 0 100;
    } 
}
.circle-svg {
    display: block;
    margin: 10px auto;
    max-height: 100px;
}
.circle-svg text {
    text-align:center;
    color:#717171;
    font-size:10px
}
.circle-svg path.percent {
    stroke: #594f8d;
    fill: none;
    stroke-width: 2.8;
    stroke-linecap: round;
    animation: progress 5s ease-out forwards;
}
.circle-svg path.around {
    stroke: rgb(160, 159, 159);
    fill: none;
    stroke-width: 2.8;
}
/*home*/
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
    width: auto;
}
.img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img img{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon{
    margin: 20px;
    display: flex;
    justify-content: left;
    align-items: left;
    gap: 1em;
}
.para{
    margin:10px;
}
.blog{
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    background:#fff ;
    border: 1px solid #e4e2e2 ;
    display: flex;
    flex-wrap: wrap;
}
.cards_blog{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1em;
    margin: 20px;
    flex-wrap: wrap;
}
.blog:hover{
transform:scale(1.1);
}
.blog{
    transition: transform 1.5s;
}
.button{
    display: flex;
    margin: 20px;
}
.button button{
   border: 1px solid #4b4276;
   background:#4b4276 ;
   color: #bdb8d7;
   height: 35px;
   width: 100px;
}
.button button:hover{
    border: 1px solid #594f8d;
    background:#594f8d ;
    color: #bdb8d7;
 }
 h1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px;
    font-family: 'Allura', cursive;
 }
.lili li p i{
    margin: 10px;
}
.footer {
    background-color: #414141;
    width: 100%;
    text-align: left;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 50px;
    margin-top: 50px;
    z-index: 1;
    font-family:'Pangolin',sans-serif !important;
  }
  
  .footer .footer-left,
  .footer .footer-center,
  .footer .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  
  /* footer left*/
  
  .footer .footer-left {
    width: 33%;
    padding-right: 15px;
  }
  
  .footer .about {
    line-height: 20px;
    color: #ffffff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer .about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer .icons {
    margin-top: 25px;
  }
  
  .footer .icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #414141;
    border-radius: 2px;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  
  /* footer center*/
  
  .footer .footer-center {
    width: 30%;
  }
  
  .footer .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .footer .footer-center p a {
    color: #0099ff;
    text-decoration: none;
  }
  
  
  /* footer right*/
  
  .footer .footer-right {
    width: 35%;
  }
  
  .footer h2 {
    color: #ffffff;
    font-size: 36px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer h2 span {
    color: #0099ff;
  }
  
  .footer .menu {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer .menu a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
  
  .footer .menu a:hover {
    color: #0099ff;
  }
  
  .footer .name {
    color: #0099ff;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  @media (max-width: 767px) {
    .footer {
      font-size: 14px;
    }
    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
    .footer .footer-center i {
      margin-left: 0;
    }
  }
  .about{
    width: 1130px;
    max-width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-family:'Pangolin',sans-serif !important;
  }
  #scroll_to_top {
    position: fixed;
    width: 25px;
    height: 25px;
    bottom: 50px;
    right: 30px;
  }
  #scroll_to_top img {
    width: 25px;
  }
  .s{
    text-decoration : underline;
  }
.liens ul{
  gap: 3em;
  margin: 20px;
}
.liens{
  border: 2px solid white;
  border-radius: 5px;
}
.logo-Footer{
  height: 120px;
  width: 250px;
}
.about .carte{
  height: 285px;
  width: 285px;
}
